body {
  background-color: #eaf6f6;
}

hr {
  border-style: dotted none none none;
  width: 5%;
  border-color: grey;
  border-width: 5px;
  height: 0px;

}
h1{
  color: #ff471a;
}
h3{
  color: #ff471a;
  border:2px;
  border-color: #83d923;
  display: inline-block;
  padding: .5%;
  border-style: solid;
}
img{
  border-radius: 70%;
}
.tableinfo{
  border:1px blue;
  border-style: dashed;
}
.Education{
  border:3px black;
  border-style: solid;

}
